.pharag-text {

    font-size: smaller;
}

.green-button-header {

    background-color: #4CBB17;
    color: white;
}

.green-button {

    background-color: #9ABA25;
    color: white;
}

.footer-color {

    background-color: rgb(30, 71, 110);
}